body{background-color: #FFFFFF;}
input{outline-style:none; border-radius: 0; border: 0; width:95%;}
button{border: none;}
*{font-family: 'Montserrat', cursive; font-size: 1.4rem;}

.base img{
    margin: 5px 10px 0px;
    margin-right: 40px;
    height: 60px; width: 65px;
}

.login_title{
    font-weight: bold;
    position: absolute;
    top:25%; left:42%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_container{
    font-size: 1.6rem;
    margin: 50px auto;
    position: absolute;
    top:45%; left:50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_container div{
    border-radius: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    width: 400px;
    padding:3px; margin: 10px auto;
    text-align: center;
}

input{
    background-color: #FFFFFF;
}

input:hover{
    background-color: #F7F5FF;
}

input:visited{
    background-color: #F7F5FF;
}

.login_container div:hover{
    border-radius: 40px;
    background-color: #F7F5FF;
    border: 1px solid #5007EF;
    width: 400px;
    padding:3px; margin: 10px auto;
}

.login_container div:visited{
    border-radius: 40px;
    background-color: #F7F5FF;
    border: 1px solid #5007EF;
    width: 400px;
    padding:3px; margin: 10px auto;
}

.login_container button{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 40px;
    width: 100px; height: 40px;
    margin-top: 10px;
    background-color: #5007EF;
    color: whitesmoke;
    float: right;
}

.signup{
    position: absolute;
    top:95%; left:50%;
    transform: translate(-50%, -50%);
}
