{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/about_style.css' %}">
    <link href="fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <title>about</title>
</head>
<body>
    <div class="sidebar">
        <div class="about_title">
            About 강의추천시스템 by COSMIC
        </div>
        <img src="{% static 'main/img/cosmic_logo.png' %}">
    </div>
    <div class="about_container">

    한 학기 동안 듣는 강의,<br>
    나에게 딱 맞는 강의를 찾는 방법은 없을까?<br><br>

    다양한 키워드로<br>
    나에게 맞는,<br>
    내가 원하는 강의를<br>
    손쉽게, 한번에<br><br>

    사용자의 취향이 반영된 다양한 강의평가 데이터를 활용하고,<br>
    최신의 딥러닝 기술을 활용하여 다양한 강의를 추천합니다.<br>
    이때, 키워드와 선호도, 그리고 성적을 기반으로<br>
    사용자 각각에게 최적화 된 강의 추천 서비스를 제공합니다.<br><br>

    사용할수록<br>
    더 올라가는 정확도<br>
    딥러닝 알고리즘을 기반으로 하고 있기 때문에,<br>
    사용하면 할 수록 더 많은 데이터를 수집하게 됩니다.<br>
    따라서, 더 정확하게 분석하여 만족스러운 추천을 제공할 수 있습니다.<br>
    
    </div>
</body>
</html>