{% load static %}
<div class="nav">
    <div class="button1">
        <a href="../myinfo" class="nav-link"> <IMG SRC="{% static 'main/img/myinfobt.png' %}"  width="40" height="40"></a>
    </div>
    <div class="button2">
        <a href="../classrec" class="nav-link"> <IMG SRC="{% static 'main/img/classrecbt.png' %}"  width="40" height="40"></a>
    </div>
    <div class="button3">
        <a href="../myclass" class="nav-link"> <IMG SRC="{% static 'main/img/timetablebt.png' %}"  width="40" height="40"></a>
    </div>
</div>